.goods-main {
  padding-top: 50px;
  margin: 0;
  padding-left: 10%;
}

/* FORM */

/* .form .plan input{
	display: none;
} */
.plan h2 {
  margin-bottom: 20px;
}

.form label{
  /* margin-left: 20px;
	color: rgb(0, 0, 0);
	background-color: #fff;
	font-size: 26px;
	text-align: center;
	line-height: 150px;
  padding: 70px 100px;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2); */
}

/* .form .plan input:checked + label{
  border-top: 5px solid #27c5ec;
  border-bottom: 5px solid #27c5ec;
  background-size: 200%;
} */


#f_grob_img{
  background-image: url(../images/dub.jpg);
  padding: 5px;
}
#s_grob_img{
  background-image: url(../images/sosna.jpg);
  padding: 5px;
}
#t_grob_img {
  background-image: url(../images/zink.jpg);
  padding: 5px;
}



#f_plate_img{
  background-image: url(../images/f_plate.jpg);
  padding: 50px;
  width: 100px;
  height: 100px;
}
#s_plate_img{
  background-image: url(../images/s_plate.jpg);
  padding: 50px;
  width: 100px;
  height: 100px;
}
#t_plate_img {
  background-image: url(../images/t_plate.jpg);
  padding: 50px;
  width: 100px;
  height: 100px;
}
#fr_plate_img {
  background-image: url(../images/fr_plate.jpg);
  padding-left: 85px;
  padding-right: 85px;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100px;
  height: 100px;
}


#f_kat_img{
  background-image: url(../images/kat2.jpg);
    padding: 30px 100px;
    width: 0px;
    height: 0px;
    background-size: cover;
}
#s_kat_img {
  background-image: url(../images/kat1.jpg);
    padding: 30px 100px;
    width: 0px;
    height: 0px;
    background-size: cover;
}
#t_kat_img {
  background-image: url(../images/kat3.jpg);
  padding: 30px 140px;
  width: 0px;
  height: 0px;
  background-size: cover;
}
.hover_good {
  background-repeat: no-repeat;
  background-size: 135%;
  background-position: center;
}
.hover_good:hover {
  background-size: 160%;
}

.mainfield{
    position: relative;
    left: 20%;
    top: 15%;
    width: 60%;
    height: 70%;
    background-color: beige;
    border: 4px darkslategray solid;
}
